<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @field.Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @field.Email %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
